@import '../styles/custom-properties.css';

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (min-width: 450px) {
    min-height: calc(100% - 91px - 155px);
  }
}

